<form [formGroup]="toDoForm">
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="name"
          formControlName="name" class="form-control" required>
        <mat-error *ngIf="toDoForm.get('name').invalid">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="description"
          formControlName="description" class="form-control">
      </mat-form-field>
    </div>
    <div class="container">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="due date"
          formControlName="dueDate" class="form-control" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="toDoForm.get('dueDate').invalid">
          Due Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="data.id" class="container">
      <mat-form-field>
        <mat-select formControlName="status" class="form-control">
          <mat-option value="Pending">Pending</mat-option>
          <mat-option value="Done">Done</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div *ngIf="data.id">
    <button mat-raised-button color="primary" (click)="update()">Update</button>
  </div>
  <div *ngIf="!data.id">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
